%body
  %h3 Hi, #{@user.name}! Listed below is your public GitHub profile information:
  %br
  %table
    %tr
      %td <strong>GitHub username</strong>
      %td #{@user.login}
    %tr
      %td <strong>GitHub ID</strong>
      %td #{@user.id}
    %tr
      %td <strong>Name</strong>
      %td #{@user.name}
    %tr
      %td <strong>Company</strong>
      %td #{@user.company}
    %tr
      %td <strong>Blog</strong>
      %td #{@user.blog}
    %tr
      %td <strong>Email</strong>
      %td #{@user.email}
    %tr
      %td <strong>Hireable?</strong>
      %td #{@user.hireable}
    %tr
      %td <strong>Bio</strong>
      %td #{@user.bio}
    %tr
      %td <strong>Number of public repos</strong>
      %td #{@user.public_repos}
    %tr
      %td <strong>Number of public gists</strong>
      %td #{@user.public_gists}
    %tr
      %td <strong>Number of followers</strong>
      %td #{@user.followers}
    %tr
      %td <strong>Number following</strong>
      %td #{@user.following}
    %tr
      %td <strong>Avatar URL</strong>
      %td
        %a{:href => "#{@user.avatar_url}", :target => "_blank"}>#{@user.avatar_url}
    %tr
      %td <strong>Gravatar ID</strong>
      %td #{@user.gravatar_id}
    %tr
      %td <strong>API URL</strong>
      %td
        %a{:href => "#{@user.url}", :target => "_blank"}>#{@user.url}
    %tr
      %td <strong>Github profile URL</strong>
      %td
        %a{:href => "#{@user.html_url}", :target => "_blank"}>#{@user.html_url}
    %tr
      %td <strong>Followers URL</strong>
      %td
        %a{:href => "#{@user.followers_url}", :target => "_blank"}>#{@user.followers_url}
    %tr
      %td <strong>Following URL</strong>
      %td
        %a{:href => "#{@user.following_url}", :target => "_blank"}>#{@user.following_url}
    %tr
      %td <strong>Gists URL</strong>
      %td
        %a{:href => "#{@user.gists_url}", :target => "_blank"}>#{@user.gists_url}
    %tr
      %td <strong>Starred repos</strong>
      %td
        %a{:href => "#{@user.starred_url}", :target => "_blank"}>#{@user.starred_url}
    %tr
      %td <strong>Subscriptions URL</strong>
      %td
        %a{:href => "#{@user.subscriptions_url}", :target => "_blank"}>#{@user.subscriptions_url}
    %tr
      %td <strong>Organizations URL</strong>
      %td
        %a{:href => "#{@user.organizations_url}", :target => "_blank"}>#{@user.organizations_url}
    %tr
      %td <strong>Repos URL</strong>
      %td
        %a{:href => "#{@user.repos_url}", :target => "_blank"}>#{@user.repos_url}
    %tr
      %td <strong>Events URL</strong>
      %td
        %a{:href => "#{@user.events_url}", :target => "_blank"}>#{@user.events_url}
    %tr
      %td <strong>Received events URL</strong>
      %td
        %a{:href => "#{@user.received_events_url}", :target => "_blank"}>#{@user.received_events_url}
    %tr
      %td <strong>User type</strong>
      %td #{@user.type}
    %tr
      %td <strong>GitHub admin?</strong>
      %td #{@user.site_admin}
    %tr
      %td <strong>User created</strong>
      %td #{@user.created_at}
    %tr
      %td <strong>User last updated</strong>
      %td #{@user.updated_at}
