%body
  %h3 Hi, #{@user.name}! Listed below is your public GitHub profile information:
  %br
  %table
    %tr
      %td <span>GitHub username</span>
      %td #{@user.login}
    %tr
      %td <span>GitHub ID</span>
      %td #{@user.id}
    %tr
      %td <span>Name</span>
      %td #{@user.name}
    %tr
      %td <span>Company</span>
      %td #{@user.company}
    %tr
      %td <span>Blog</span>
      %td #{@user.blog}
    %tr
      %td <span>Email</span>
      %td #{@user.email}
    %tr
      %td <span>Hireable?</span>
      %td #{@user.hireable}
    %tr
      %td <span>Bio</span>
      %td #{@user.bio}
    %tr
      %td <span>Number of public repos</span>
      %td #{@user.public_repos}
    %tr
      %td <span>Number of public gists</span>
      %td #{@user.public_gists}
    %tr
      %td <span>Number of followers</span>
      %td #{@user.followers}
    %tr
      %td <span>Number following</span>
      %td #{@user.following}
    %tr
      %td <span>Avatar URL</span>
      %td
        %a{:href => "#{@user.avatar_url}", :target => "_blank"}>#{@user.avatar_url}
    %tr
      %td <span>Gravatar ID</span>
      %td #{@user.gravatar_id}
    %tr
      %td <span>API URL</span>
      %td
        %a{:href => "#{@user.url}", :target => "_blank"}>#{@user.url}
    %tr
      %td <span>Github profile URL</span>
      %td
        %a{:href => "#{@user.html_url}", :target => "_blank"}>#{@user.html_url}
    %tr
      %td <span>Followers URL</span>
      %td
        %a{:href => "#{@user.followers_url}", :target => "_blank"}>#{@user.followers_url}
    %tr
      %td <span>Following URL</span>
      %td
        %a{:href => "#{@user.following_url}", :target => "_blank"}>#{@user.following_url}
    %tr
      %td <span>Gists URL</span>
      %td
        %a{:href => "#{@user.gists_url}", :target => "_blank"}>#{@user.gists_url}
    %tr
      %td <span>Starred repos</span>
      %td
        %a{:href => "#{@user.starred_url}", :target => "_blank"}>#{@user.starred_url}
    %tr
      %td <span>Subscriptions URL</span>
      %td
        %a{:href => "#{@user.subscriptions_url}", :target => "_blank"}>#{@user.subscriptions_url}
    %tr
      %td <span>Organizations URL</span>
      %td
        %a{:href => "#{@user.organizations_url}", :target => "_blank"}>#{@user.organizations_url}
    %tr
      %td <span>Repos URL</span>
      %td
        %a{:href => "#{@user.repos_url}", :target => "_blank"}>#{@user.repos_url}
    %tr
      %td <span>Events URL</span>
      %td
        %a{:href => "#{@user.events_url}", :target => "_blank"}>#{@user.events_url}
    %tr
      %td <span>Received events URL</span>
      %td
        %a{:href => "#{@user.received_events_url}", :target => "_blank"}>#{@user.received_events_url}
    %tr
      %td <span>User type</span>
      %td #{@user.type}
    %tr
      %td <span>GitHub admin?</span>
      %td #{@user.site_admin}
    %tr
      %td <span>User created</span>
      %td #{@user.created_at}
    %tr
      %td <span>User last updated</span>
      %td #{@user.updated_at}
